<app-navbar></app-navbar>
<div class="w-full px-5">
    <div class="bg-(--bg-color-primary) rounded-xl shadow-[1px_1px_25px_3px_var(--bg-color-secondary)] mt-5">
        <div class="">
            <h1>Reserved Rooms</h1>
        </div>
        <div class="p-5">
            <div *ngIf="reservedRooms && reservedRooms.length > 0 ; emptyReserve" class="space-y-4">

                <div *ngFor="let item of reservedRooms; let i = index"
                    class="flex items-center justify-between bg-white shadow-md rounded-xl p-4 hover:shadow-lg transition">
                    <!-- LEFT -->
                    <div class="flex items-center">
                        <img [src]="item.image" [alt]="item.title" class="w-16 h-16 object-cover rounded-lg">
                        <div class="ml-4">
                            <h2 class="text-lg font-bold">{{ item.title }}</h2>
                            <p class="text-gray-600">{{ item.description }}</p>
                        </div>
                    </div>
                    <!-- RIGHT -->
                    <div class="flex items-center">
                        <span class="text-lg font-bold">${{ item.price | number:'1.2-2' }}</span>
                    </div>
                </div>
            </div>
            <div class="" #emptyReserve>
                <p class="text-gray-500">No reserved rooms found.</p>
            </div>
        </div>
    </div>
</div>