<div class="" *ngIf="images.length === 0">
  <h1>No images available</h1>
</div>
<owl-carousel-o [options]="customOptions" *ngIf="images.length > 0">
  <ng-template carouselSlide *ngFor="let img of images" class="w-full">
    <div class=" bg-cover bg-center h-84 sm:h-137.5 w-full flex" [style.background-image]="'url(' + img.src + ')'">
      <div class=" w-full text-center content-center bg-black/30 px-4">
        <h1 class="text-white text-xl md:text-4xl"> Discover Quality and confortable room </h1>
        <h1 class=" text-lg md:text-xl text-white/80">
          the only place to get quality rooms at affordable prices
        </h1>
      </div>
    </div>
  </ng-template>
</owl-carousel-o>